<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #092167;">
  <a class="navbar-brand" href="#">Prueba tecnica GSE</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/pruebas">Lista de datos en la bd<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/palindromos">Palindormos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/fibonacci">Serie Fibonacci</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/parimpar">Par o impar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/multiplos">Multiplos de un número</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/factorial">Factorial</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/factorialrecursivo">Factorial Recursivo</a>
      </li>

    </ul>
  </div>
</nav>
